/* Inicio de CSS del Proyecto Web */ 
/*Programación Web*/
/*Miércoles 03 de Noviembre de 2021*/
/* Importación de Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
    margin: auto;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;
 }
 /*Cabecera del Documento - Header*/
 header{
    background:linear-gradient(80deg, #191994, #6f7fa0, #191994);
    width: 100%;
}
 header h1{
     text-align: center;
     color: #ffff;
     /*font-family: 'Roboto Slab', serif;*/
     font-family: 'Acme', sans-serif;
     font-size: 55pt;
     padding: 8px;
 }
 /*Titulo*/
 #titulo{
    width: 600px;
 }
 /*Favicon*/
 .imgprincipal{
    width: 200px;
    float: left;
    padding: 2px;
    margin: 5px 0 0 6em;
}
body{
  background-image: linear-gradient(to right, #1a759f,#34a0a4);
}
/* Aside de las redes sociales*/
.redes-sociales{
    width: 150px;
    float: right;
    margin: -70px 0 0 1100px;
    position: absolute;
  /*
    border-top-style: solid;
    border-top-color:#fff;
    border-top-width: 1px;

    border-bottom-style: solid;
    border-bottom-color:#fff;
    border-bottom-width: 1px;
*/
}
.icono-redes{
    padding: 5px 0 0 0;
    width: 30px;
    margin-left: 15px;
}
 nav{
     width: 100%;
     background-color: #1c4a85;
}
 /*Barra de Navegación*/
 #menu{
    text-align: center;
    width: 60%;
    align-items: center;
}
 #menu ul {
     list-style-type: none;
     display: flex;
}
#menu ul li.submenu{
    width: 150px;    
    margin-right: 5px;
}
 /* listas de titulos */
 #menu ul li a{
     display: block;
     text-decoration: none;
     color:#ffff;
     background-color: #1c4a85;
     position: relative;
     transition: .2s;
     border-radius: 4px;
}
#menu ul li:hover a.submenu1{
    position:relative;
    display: table;
    font-family: 'Righteous', cursive;
    
}
#menu ul li:hover a.submenu1:hover{
    color: #000;
    font-size: 16px;
    background-color: #fff1e6;
}
/* Cuando se pasa el cursor sobre el menu principal*/
#menu ul li a.submenu:hover{
    background-color: #fff1e6;
    color: #000;
}
/* Enlaces de los Submenus*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
#menu ul li a.submenu
{
    font-size: 18px;
    color:#ffff;
    display: block!important;
    position: relative;
    font-family: 'Righteous', cursive;
    padding: .5em;
}
#menu ul li a.submenu1{
    display: none;
    width: 150px;
    padding: 0.5em;
} 
/*Al momento de pasar el mouse por el menu desplegable*/
#menu ul li:hover ul {
    display: block;
    position: absolute;
    background-color: #457B9D;
    width: 150px;
}
/* Estilos del reloj digital y calendario */ 
 .reloj-digital{
     border: none;
     border-radius: 4px;    
     float: left;
     width: 160px;
     margin-left: 108px;
 }
 .mostrar-reloj{
     border:none;
     border-radius: 4px;
     background: #fff;
     color: #000; 
     font-weight: normal; 
     font-family: Tahoma; 
     font-size: 12pt; 
     text-align: center; 
     padding: 2px;
     width: 118px;
 }
 .miFecha{
    width: 120px;
    text-align: center;
    font-family: Tahoma;
    font-size: 15pt;
    border-radius: 6px;
    float: right;
    margin: 160px 95px 0 0;
}
.miFecha .anno{
    color:  #fff;
    padding: 5px;
    font-size: 100%;
    margin-top: 5px;
    letter-spacing: 2px;
    font-weight: bold;
    background: #815839;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.miFecha .dia{
    color: #000;
    background: #fff;
    font-weight: bold;
    font-size: 150%;
    padding: 12px;
    margin-bottom:  3px;
    text-shadow: 1px 1px 1px #0000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;    
}
.miFecha .mes{
    color: #000;
    background: #fed766;
    font-weight: bold;
    font-size: 80%;
    font-family: Arial;
    padding: 3px;
}
.usuario-icono{
    width: 40px;
    padding-top: 2px;
}
/* División del calendario y la hora*/
.division-calendario{
    color: #ffff;
    border: 0.1px solid;
    margin-top: 8px;
    width: 120%;
    margin-left: -35px;
} 

/* Etiqueta Aside*/
aside{
    width: 260px;
    margin-right: 25px;
    margin-top: 5px;
    float:right;
}
.anuncio{
    margin: 5px;
    border-radius: 4px;
}
.anun{
    width: 245px;
    position: relative;
}


/* Footer */
footer{
    clear: both;
    background-color: #345757;
    width: 100%;
    text-align: center;
    position: relative;
}
.pie{
    margin-bottom: -250px;
}
.pie ul li{
    list-style-type: none;
    display: inline-block;
    margin:0.5em;
    padding: 10px;
}
.pie ul li a{
    text-decoration: none;
    color: #ffff;
}
.pie ul li a:hover{
    color:#000;
    text-decoration: underline;
}
