section{
    width: 70%;
    float: left;
    margin-top: 5px;
    margin-left: 15%;
    border-radius: 4px;
    margin-bottom: 137px;
}
.mision{
    margin-top:15px;
    background-color: #e0fbfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.vision{
    background-color: #e0fbfc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.mision h1{
    text-align: center;
    font-size: 30px;
    font-family: Tahoma;
    padding: 10px;
    color: brown;
}
.vision h1{
    text-align: center;
    font-size: 30px;
    font-family: Tahoma;
    padding: 10px;
    color: brown;
}
p{
    text-align: justify;
    padding: 22px;
    line-height: 1.5em;
}