/*Sección Principal*/
section{
    width: 80%;
    float: left;
    margin-top: 5px;
    margin-left: 70px;
    border-radius: 4px;
}
section h2{
    padding: 0.3em;
    color: #00349b;
    font-size: 1em;
    line-height: 1.5;
    background-color: #fed9b7;
    border-radius: 10px;
    margin-bottom: 5px;
    padding-left: 12px;
    width: 80%;
}
.clasificacion{
    font-size: 35px;
    margin:0px;
    color: white;
    text-align: center;
    padding: 15px;
}
.contenedortitulo{
    background-color:rgb(11 24 96);
    width: 1200px;
    margin-left: 8px;
    border-radius: 8px;
}
/* Primera seccion*/
/* Articulos*/
article{
    width:1200px;
    margin: 0.5em;
    padding: 0.8em 0.3em;
    background-color: #fff;
    border-radius: 4px;
}
.contenidotabla{
    width: 100%;
    height: 100%;
}
.imagenes{
    width: 190px;
    margin-left: 87px;
    border-radius: 200px;
    margin-top: 10px;
}
.contenedorimagen{
    margin-left: 15px;
    width: 370px;
    display: inline-block;
}
.descripcion{
    text-align: center;
    width: 100%;
    margin: 0;
    display: block;
}
p{
    text-align: justify;
    font-family: Tahoma;
    font-size:  0.9em;
    padding: 0.6em;
    line-height: 1.8em;
}